Description=UAT-Test-app-backend 
After=syslog.target
After=network.target

[Service]
User=root
ExecStart=/bin/bash -c "/usr/bin/java -jar -Dserver.port=8080 /home/admin/app/test-app-backend-0.0.1-SNAPSHOT.jar"
ExecStop=/bin/bash -c "fuser -k 8080/tcp || true"
SuccessExitStatus=143

[Install]
WantedBy=default.target